@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    transition: .2s;
}

span{
    background: linear-gradient(rgb(251, 162, 79),rgb(255, 30, 30));
    background-clip: text;
    color: transparent;
}
.container-1{
    max-width: 80%;
    margin:  auto;
}
header{
    background: rgb(203, 203, 236);
}
img{
    width: 100%;
    height: 100%;
}



.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content h1{
    /* width: 600px;
    height: 234px; */
    text-align: left;
    font-weight: 700;
    font-size: 60px;
    color: rgb(87, 87, 87);
}
.banner-content p{
    width: 499px;
    height: 65px;
    line-height: 1.5rem;
    color: rgb(130, 130, 130);
}
.btn{
    width: 192px;
    height: 68px;
    border-radius: 100px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to left, rgb(251, 162, 79),rgb(255, 30, 30));
}
.btn:hover{
    width: 550px;
    color: #be0f0f;
    background: linear-gradient(rgb(255, 255, 255),rgb(251, 162, 79));
    transition: 2.2s;
}

.banner-image{
    width: 792px;
    height: 788px;
    padding: 50px;

    background: url(./images/shapes/Group\ 8450.png) no-repeat;
    background-position: center;
    background-size: cover;
}


main{

    background: url(./images/shapes/Frame\ 58.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.about-section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.about-image{
    width: 338px;
    height: 536px;

}

.about-section-content h1 {
    font-weight: bolder;
    font-size: 3rem;
}
.about-section-content P{
    width: 444px;
    height: 160px;
    line-height: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    

}

.recipies-title{
    width: 706px;
    height: 159px;
    margin: auto;
    line-height: 1.5rem;
    text-align: center;
}
.recipies-title h1{
    width: 529px;
    height: 60px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: .1rem;
    font-weight: 600;
    font-size: 36px;
    background: linear-gradient(to left, rgb(251, 162, 79),rgb(255, 30, 30));
    background-clip: text;
    color: transparent;
    text-transform: uppercase;

}


.recipies-content{
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    align-items: center;
}
.recipies-card{
    width: 610px;
    height: 562px;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 2px 2px 3px 2px rgb(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
}
.recipies-card img{
    width: 550px;
    height: 308px;
}
.recipies-card h1{
    font-size: 28px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.reating-card{
    width:1239px;
    height: 206px;
    margin: auto;
    padding: 0 auto 0;
    margin-top: 5rem;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    text-align: left;
    column-gap: 5rem;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 6px 6px 8px 6px rgba(0, 0, 0, 0.1);
}

footer{
    height: 256px;
    margin-top: 3rem;
    background-color: black;
}

.footer-content{
    padding-top: 4rem;
    align-items: center;
    text-align: center;
}
.footer-content h1{
    font-weight: 800;
    font-size: 50px;
    color: rgb(91, 91, 91);
}
.footer-content p{
    font-weight: 400;
    font-size: 16px;
    margin-top: 1rem;
    color: rgb(255, 255, 255);
}