@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

span{
    background: linear-gradient(rgb(251, 162, 79),rgb(255, 30, 30));
    background-clip: text;
    color: transparent;
}
.container-1{
    max-width: 80%;
    margin:  auto;
}
header{
    background: rgb(203, 203, 236);
}
img{
    width: 100%;
    height: 100%;
}



.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content h1{
    /* width: 600px;
    height: 234px; */
    text-align: left;
    font-weight: 700;
    font-size: 60px;
    color: rgb(87, 87, 87);
}
.banner-content p{
    width: 499px;
    height: 65px;
    line-height: 1.5rem;
    color: rgb(130, 130, 130);
}
.btn{
    width: 192px;
    height: 68px;
    border-radius: 100px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background: linear-gradient(rgb(251, 162, 79),rgb(255, 30, 30));
}
.btn:hover{
    width: 550px;
    color: #be0f0f;
    background: linear-gradient(rgb(255, 255, 255),rgb(251, 162, 79));
    transition: 2.2s;
}

.banner-image{
    width: 792px;
    height: 788px;
    padding: 50px;

    background: url(./images/shapes/Group\ 8450.png) no-repeat;
    background-position: center;
    background-size: cover;
}


main{

    background: url(./images/shapes/Frame\ 58.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.about-section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.about-image{
    width: 338px;
    height: 536px;

}

.about-section-content h1 {
    font-weight: bolder;
    font-size: 3rem;
}
.about-section-content P{
    width: 444px;
    height: 160px;
    line-height: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    

}
